<!--header-->
<app-header></app-header>
<!--/header-->
<section id="advertisement">
  <div class="container">
    <img src="assets/images/shop/advertisement.jpg" alt="" />
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <app-left-sidebar></app-left-sidebar>
      <div class="col-sm-9 padding-right">
        <div class="features_items">
          <!--features_items-->
          <h2 class="title text-center">Features Items</h2>
          <div class="col-sm-4" *ngFor="let product of products | slice:start:end">
            <app-shop-list-product [productItem]="product"></app-shop-list-product>
          </div>

          <ul class="pagination">
            <li *ngFor="let i of sizeS" [class.active]="isActive(i)" (click)="onClick(i)" style="cursor:pointer"><a>{{i}}</a></li>
            <li *ngIf="this.products.length > 0" style="cursor:pointer" (click)="onClick2()"><a>&raquo;</a></li>
          </ul>
        </div><!--features_items-->
      </div>
    </div>
  </div>
</section>
<!--Footer-->
<app-footer></app-footer>
<!--/Footer-->
